#rootSVG {
  //width: 100%;
  //height: 90%;
  //background-color: lightblue;
}

path {
  fill: white;
  stroke: #a9a9a9;
  stroke-width: 1;

  &:hover {
    // FIXME
    fill: orange;
    fill-opacity: 0.5;
    cursor: pointer;
  }
}

//#content .info {
//  height: 20px;
//}
//
//#content .map path {
//  fill: #aaa;
//  stroke: #fff;
//}
//
//#content .bounding-box rect {
//  fill: none;
//  stroke: #333;
//  stroke-dasharray: 2,1;
//}
//
//#content .centroid {
//  display: none;
//}
//
//#content .centroid circle {
//  fill: red;
//}




